language: node_js
node_js:
  - "4"
env:
  - CXX=g++-4.8
  - TRAV=shit
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
sudo: required
before_script: npm install
script:
  - npm run test
  - npm run lint
